body {
  background: dodgerblue;
  height: 1000px;
  width: 100%;
  text-align: center;
}

form {
  width: 20%;
  margin: 0 auto;
}

input, button {
  border: none;
  padding: 15px;
  font-size: 14px;
  display: block;
  float: left;
  margin: auto 10px;
}
